<section class="acerca">
  <h2 class="news-title">Qué es</h2>
  <p class="text">Es un agregador distribuido de contenidos sobre el impacto de la tecnología y de la innovación en los medios periodísticos creado por <a rel="me" href="http://nelson.netflux.com.ar" target="_blank">nelson fernández</a>.</p>

  <h2 class="news-title">Filosofía NIP</h2>
  <p class="text">El último gadget no nos importa. Tu último post, tampoco (que lo recomiende otro). Queremos hacer minería de enlaces que contribuyan a pensar cómo
  pueden evolucionar los medios, cómo pueden innovar los periodistas y qué caminos puede tomar la industria de los contenidos digitales.</p>
  <p class="text">Queremos calidad. No buscamos volumen. Queremos motivar el pensamiento creativo de los profesionales de la industria de los medios digitales.</p>
  <p class="text">Si publicás más de 5 enlaces por día, no estás filtrando bien. NIP debería funcionar como una dieta de enlaces nutritivos para profesionales que quieren ser mejores, produciendo medios cada día más relevantes.</p>
</section>
