<section id="newslist">
  <% news.each do |item| %>
    <%if item['del'] %>
      <article class="deleted">[noticia borrada]</article>
    <% else %>
      <%= erb :news, :locals => {:news => item} %>
    <% end %>
  <% end %>

  <% if (pager > 0) %>
    <a rel="next" class="bck" href="/latest/<%= pager %>">[ más ]</a>
  <% end %>
</section>

