<section id="login">
  <form id="loginform" class="form" name="f">
    <fieldset class="group">
      <label class="labelform" for="username">nombre de usuario</label>
      <input class="textfield" type="text" id="username" name="username">
    </fieldset>
    <fieldset class="group">
      <label class="labelform" for="password">clave</label>
      <input class="textfield" type="password" id="password" name="password">
    </fieldset>
    <fieldset class="group">
      <label class="labelform" for="register"><input type="checkbox" name="register" value="1"> crear cuenta</label>
    </fieldset>
    <button class="submit" type="submit">conectarse</button>
  </form>
</section>
<div id="errormsg"></div>
<script>
  NIP.init.push('loginform');
</script>
