<div class="singlecomment">
  <%= erb :comment, :locals => {:comment => comment, :user => user, :layout => false} %>
</div>
<%= sep %>
<div class="commentreplies">
  <%= render_comments_for_news(comment['thread_id'], comment['id'].to_i) %>
</div>
