<div class="singlecomment clearfix">
  <%= erb :comment, :locals => {:comment => comment, :user => user, :layout => false} %>
</div>
<% cn = render_comments_for_news(comment['thread_id'], comment['id'].to_i) %>
<% if cn != "" %>
<div class="commentreplies clearfix">
  <%= sep %>
  <%= cn %>
</div>
<% end %>
