<p class="note"><span class="bck">Publicar rápido: arrastrar este bookmarlet (<a href="<%= get_bookmarlet %>">NIP</a>) a la barra de tareas</span></p>
<section id="submit">
  <form id="submitnews" class="form" name="f">

    <label class="labelform" for="title">título</label>
    <input class="textfield" type="text" id="title" name="title" size="80" value="<%= params['t'] ? entities(params['t']) : '' %>">
    <label class="labelform" for="url">url</label>
    <input class="textfield" type="text" id="url" name="url" size="60" value="<%= params['u'] ? entities(params['u']) : '' %>">

    <p class="info">o si no tienes una url puedes escribir algún texto</p>

    <label class="labelform" for="text">texto</label>
    <textarea class="textarea" id="text" name="text" cols="60" rows="10"></textarea>

    <button class="submit" type="submit">enviar</button>

    <div id="errormsg"></div>
    <input type="hidden" name="news_id" value="-1">
  </form>
</section>
<script>
  NIP.init.push('submitnews');
</script>
