<section id="submit">
  <form id="submitnews" class="form" name="f">

    <label class="labelform" for="title">title</label>
    <input class="textfield" type="text" id="title" name="title" size="80" value="<%= '' %>">
    <label class="labelform" for="url">url</label>
    <input class="textfield" type="text" id="url" name="url" size="60" value="<%= '' %>">

    <p class="info">or if you don't have an url type some text</p>

    <label class="labelform" for="text">text</label>
    <textarea class="textarea" id="text" name="text" cols="60" rows="10"></textarea>

    <button class="submit" type="submit">submit</button>

    <div id="errormsg"></div>
    <input type="hidden" name="news_id" value="-1">
  </form>
</section>
<p class="note"><span class="bck">Submitting news is simple using the <a href="<%= get_bookmarlet %>">bookmarklet</a> (drag the link to your browse toolbar)</span></p>
<script>
  NIP.init.push('submitnews');
</script>
