<h2 class="page-title"><%= entities("comentarios de #{user['username']}") %></h2>
<div id="comments">
<% comments.each do |c| %>
  <%= erb :comment, :locals => {:layout => false, :comment => c, :user => user} %>
<% end %>
</div>

<% if (pager > 0) %>
  <a rel="next" href="/usercomments/<%= "#{params['username']}/#{pager}" %>">[más]</a>
<% end %>
